parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$content\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/BaseAdminContentController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/BaseAdminContentController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$taxonomies\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/BaseAdminContentController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:getTranslations\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Admin/BaseAdminContentController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:revisions\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Admin/BaseAdminContentController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/FormController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/PageController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/PostController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/ProjectController.php

		-
			message: '#^Called ''pluck'' on Laravel collection, but could have been retrieved as a query\.$#'
			identifier: larastan.noUnnecessaryCollectionCall
			count: 1
			path: app/Http/Controllers/Admin/SettingController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/Admin/UserController.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Http/Controllers/Admin/UserController.php

		-
			message: '#^Cannot access property \$footerOverride on class\-string\|object\.$#'
			identifier: property.nonObject
			count: 2
			path: app/Http/Controllers/PageController.php

		-
			message: '#^Cannot access property \$headerOverride on class\-string\|object\.$#'
			identifier: property.nonObject
			count: 2
			path: app/Http/Controllers/PageController.php

		-
			message: '#^Cannot access property \$sidebarOverride on class\-string\|object\.$#'
			identifier: property.nonObject
			count: 2
			path: app/Http/Controllers/PageController.php

		-
			message: '#^Cannot access property \$template on class\-string\|object\.$#'
			identifier: property.nonObject
			count: 2
			path: app/Http/Controllers/PageController.php

		-
			message: '#^Offset 0 on non\-empty\-list\<string\> on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Http/Controllers/PageController.php

		-
			message: '#^Relation ''footerOverride'' is not found in App\\Models\\Page model\.$#'
			identifier: larastan.relationExistence
			count: 2
			path: app/Http/Controllers/PageController.php

		-
			message: '#^Relation ''headerOverride'' is not found in App\\Models\\Page model\.$#'
			identifier: larastan.relationExistence
			count: 2
			path: app/Http/Controllers/PageController.php

		-
			message: '#^Relation ''sidebarOverride'' is not found in App\\Models\\Page model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/PageController.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$status\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/PostController.php

		-
			message: '#^Access to an undefined property App\\Models\\Form\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/PublicFormController.php

		-
			message: '#^Call to function is_array\(\) with string will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: app/Http/Controllers/SeoController.php

		-
			message: '#^Ternary operator condition is always true\.$#'
			identifier: ternary.alwaysTrue
			count: 1
			path: app/Services/SeoService.php
