@font-family: 'Titillium Web', sans-serif;
@font-family-normal: 'Oswald', sans-serif;

@font-weight-regular: 400;
@font-weight-medium: 700;
@font-weight-bold: 700;

@color-white: #fff;
@color-blue: #1180AE;
@color-purple: #5F4B8B;
@color-purple-light: #B66BA3;
@color-pink: #D74061;
@color-orange: #F37A29;
@color-yellow: #FCB239;
@color-bamboo: #D2B356;
@color-brown: #C59169;
@color-grey: #111;
@color-black: #000;

@background-opacity: 50;

@animation-time: 0.25s;