@import "tailwindcss";

@plugin "daisyui" {
    themes:
        light --default,
        dark --prefersdark,
        emerald,
        corporate,
        retro,
        cyberpunk,
        dracula;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    /* Custom Design Tokens */
    --rounded-box: 1rem;
    --rounded-btn: 0.5rem;
    --rounded-badge: 1.9rem;

    --spacing-main: 1.5rem;
}

/* Custom scrollbar for professional feel */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-base-300);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-base-content) / 0.2;
}
